/* Style for TextFields */
.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 0.5em;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.text-field:focused {
    -fx-border-color: #6B46C1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 20, 0, 0, 0);
}

/* Style for PasswordFields */
.password-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 0.5em;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.password-field:focused {
    -fx-border-color: #6B46C1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 20, 0, 0, 0);
}

/* Style for JFXButtons */
.-button {
    -fx-background-color: #6B46C1;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 0.5em 1.5em;
    -fx-background-radius: 20px;
}

.-button:hover {
    -fx-background-color: #6B46C1;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.-button:pressed {
    -fx-background-color: #573B97;
    -fx-text-fill: white;
}

/* Style for Label */
.label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Style for Welcome Label */
.welcome-label {
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}
.sign-up-label {
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

/* Style for AnchorPane */
.anchor-pane {
    -fx-background-color: #00002C;
}
