.label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #F8F8F8;
    -fx-border-color: #D8D8D8;
    -fx-border-radius: 5px;
    -fx-prompt-text-fill: #A0A0A0;
    -fx-font-size: 16px;
}